*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, body {
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: var(--bg-color);
  color: var(--black-color);
  font-family: var(--primary-font);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
a {
    text-decoration: none;
}
.section-title {
    font-size: 70px;
    line-height: 76px;
    letter-spacing: -2px;
    font-weight: normal;
}
.section-link {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    cursor: pointer;
    display: inline-block;
}

.text {
    font-family: var(--second-font);
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    opacity: 0.6;
}

.wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (max-width: 768px) {
    .section-title {
      font-size: 46px;
      line-height: 56px;
    }
    .section-link {
      font-size: 18px;
      line-height: 30px;
    }
    .text {
      font-size: 18px;
      line-height: 30px;
    }
}