@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Prata&display=swap');

:root {
    --primary-font: 'Prata', serif;
    --second-font: 'DM Sans', sans-serif;
    --bg-color: #F8F3ED;
    --black-color: #222120;
}